body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #cdf1e3;
  margin: 0;
  padding-top: 70px;
}

.carousel-section {
  margin: 3rem auto;
  max-width: 750px;
}
.carousel img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.characters-section {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.characters-section header {
  margin-bottom: 2rem;
}
.character-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.character-info h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.character-info h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}
.character-img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-img {
  max-width: 450px; 
  height: auto; 
  margin: 0 auto; 
  display: block;
}

.character-card {
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px; 
  color: white; 
}

.character-card:nth-child(2) {
  background-color: #56cfbd; 
}

.character-card:nth-child(3) {
  background-color: #f3dc5d; 
}

.character-card:nth-child(4) {
  background-color: #e76a6c;  
}

.character-card:nth-child(5) {
  background-color: #909298;
}

.character-card:nth-child(6) {
  background-color: #9292c3;
}

